.grid {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(5, 1fr);
  width: 40vw;
  background-color: whitesmoke;
  padding: 0.5rem;
}
.span-5 {
  grid-column: span 5;
}
button {
  border: none;
  padding: 6px;
}
button:hover {
  cursor: pointer;
}
#eq {
  background-color: skyblue;
}
#input {
  padding: 10px;
  border: none;
  overflow-x: auto;
  background-color: aliceblue;
}
#input:focus {
  outline: none;
  border-bottom: 1px solid gray;
}
.digit {
  background-color: white;
}
