.main-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 80vw;
  gap: 3rem;
  grid-template-rows: 50vh;
}
.grid {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(5, 1fr);
  width: 40vw;
  background-color: whitesmoke;
  padding: 0.5rem;
}
.grid-history {
  background-color: #d4e0ee;
  overflow-y: auto;
  font-size: large;
  padding: 0.5rem;
}
ul {
  /* background-color: #fff2f1; */
  /* line-height: 0.75rem; */
  display: flex;
  list-style-type: none;
  flex-direction: column;
  /* font-size: 13px; */
}
li {
  padding: 0.5rem;
  overflow-x: auto;
  width: 80%;
}
li:hover {
  background-color: #fff2f1;
  cursor: pointer;
}
/* ul li {
  background-color: bisque;
} */
.span-5 {
  grid-column: span 5;
}
.span-2 {
  grid-column: span 2;
}
.span-3 {
  grid-column: span 3;
}
button {
  border: none;
  padding: 6px;
}
button:hover {
  cursor: pointer;
}
#eq {
  background-color: skyblue;
}
#input {
  padding: 10px;
  border: none;
  overflow-x: auto;
  background-color: aliceblue;
  text-align: right;
  font-size: 1.5rem;
}
#input:focus {
  outline: none;
  border-bottom: 1px solid gray;
}
.digit {
  background-color: white;
}
select {
  padding: 5px;
  border: none;
  cursor: pointer;
}
select:focus {
  outline: none;
}
